/* Set the background color for the entire page */
body {
  background-color: red;
  font-family: cursive;
  padding: 20px;
}

/* Style for the message text */
.message {
  font-size: 2rem; /* Example size, adjust as needed */
  margin: 0.5rem;
}

/* Style for the count number */
.count {
  font-size: 6rem; /* Large font size for the countdown number */
  background-color: #fffe9b; /* Button color */
  border: none;
  border-radius: 50%; /* Circular button */
  width: 150px; /* Example width */
  height: 150px; /* Example height */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px 0 20px 0.5rem;
}

/* Style for the round indicator, if needed */
.medium-font {
  font-size: 1.5rem;
  margin: 0.5rem;
}

/* Style for the input, if it's visible */
input[type='number'] {
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 10px;
  width: 50px;
}

/* Additional styles for the start button */
.start {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 0.5rem;
  border-radius: 8px; /* Slightly rounded corners */
  background-color: #90ee90;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}
